html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

.navbar-brand{
    font-size: 1.5rem;
}

.navbar-light .navbar-brand{
    color: #22d381;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 150%;
}
