body {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}


.navbar-brand{
    font-size: 1.5rem;
}

.navbar-light .navbar-brand{
    color: #22d381;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 150%;
}

.navbar-light .navbar-brand:focus, .navbar-light .navbar-brand:hover {
    color: #22d381;
}

.navbar-light .navbar-nav .nav-link{
    color: black;
    font-weight: 500;
}

.navbar-light .navbar-nav .dropdown-item{
    font-weight: 500;
}

.navbar-toggler{
    border: 0;
}

navbar-toggler:focus {
    outline: none!important;
}

/*Movie poster*/
.movie-item {
    display: inline-block;
    box-shadow: 0px 3px 20px rgba(0,0,0,0.2);
    border-radius: 10px;
    width: 260px;
    background-color: white;
    padding: 15px 15px 5px 15px;
    margin-bottom: 50px;
}

.movie-item h3{
    font-weight: bold;
}

.movie-rating-fa{
    color: #fff;
    display: inline-block;
    border-radius: 60px;
    background-color: #22d381;
    padding: 0.5em 0.5em;
}

.poster-wrapper {

    position: relative;
    z-index: 1;
    transition: transform 0.5s;
    transition-timing-function: ease;
}

.poster-wrapper:hover {
    transition-delay: 0.2s;
    transition-timing-function: ease;
    transform: scale(1.02);
}

.poster {
    border-radius: 10px;
    height: 335px;
    width: 230px;
    position: relative;
    background-size: cover;
    margin-bottom: 20px;
}

.poster:after {
    content: "";
    position: absolute;
    background-image: inherit;
    border-radius: inherit;
    background-size: inherit;
    width: inherit;
    height: inherit;
    z-index: -1;
    transform: translate(0px, 10px);
    filter: blur(15px);
}
/*End movie poster*/

#topFunctionButton {
    height: 40px;
    width: 40px;
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: #22d381;
    color: white;
    cursor: pointer;

    border-radius: 10px;
    font-size: 18px;
}

#topFunctionButton:hover {
    background-color: #555;
}

/*Movie details page*/
#backdrop{
    height: 40vh;
    max-height: 355px;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0,0,0,0.2);
    border-radius: 10px;
}

.custom-select{
    -webkit-appearance: none;
    -moz-appearance: none;
}
